<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" th:href="@{/css/cadasClienteStyle.css}" />
	<link rel="stylesheet" th:href="@{/css/allStyle.css}" />
	<script type="text/javascript"> function consulta() {window.open("/sig/veiculos");} </script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<html>
<body>
<style>

div {
	color: #f97003;
	padding: 20px;
}
</style>
<body>
<div>	
<head><strong> THE RANGES: Locadora de Carros </strong> </head>
<h1> <em> A MAIOR LOCADORA DE CARROS DO BRASIL 
</em> </h1>
 <p> Aqui você pode encontrar todos os  tipo de carros , e todos os preços </p>
 </div>
 </body>
 </body>
 </html>

<body>
	<div class="Menu">
		<a th:href="@{/sig/menuVeiculo}" id="botaoVoltar"><button><img th:src="@{images/setaVoltar.png}" /></button></a>
		<h1>Cadastrar Veiculo</h1>
		<div id="formulario">
			<form action="#" th:action="@{/sig/veiculos}" th:object="${veiculo}" method="post">
				<label for="nomeVeiculo">Fabricante: </label>
				<input type="text" th:field="*{nome}" id="nomeVeiculo" name="nomeVeiculo"placeholder="Fabricante do Veiculo">
				<br><br>
				<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="textdanger"> </span>
					
					<label for="modeloVeiculo">Modelo: </label>
					<input type="text" th:field="*{modelo}" id="modeloVeiculo" name="modeloVeiculo">
					
					<label for="placaVeiculo">Placa: </label>
					<input type="text" th:field="*{placa}" id="placaVeiculo" name="placaVeiculo"><br><br>
					
					<label for="valorDiaria">Valor da diaria: </label>
					<input type="number" th:field="*{valorDiaria}" id="valorDiaria" name="valorDiaria">
					
					<label for="veiculoCor">Cor: </label>
					<input type="text" th:field="*{cor}" id="veiculoCor" name="veiculoCor"><br><br>
					
					
					<div id="botaoConfirma">
						<input type="submit"  value="Confirmar cadastro"id="confirmarCadastro" name="confirmarCadastro">
						<input type="button" value="Consultar veiculos"id="consultaVeiculos" name="consultaVeiculos" onclick="consulta();">
					</div>
				</form>
				<h6 th:text="${message}" class="text-danger"></h6>
		</div>
		</div>
	</body>
</html>