<!DOCTYPE html>
<html>
	<head>
		<link rel= "stylesheet" th:href="@{/css/desalocarStyle.css}" />
		<link rel= "stylesheet" th:href="@{/css/allStyle.css}" />
	</head>
	<body>
		<div class = "Menu">
			<a th:href="@{/}" id="botaoVoltar"><button><img th:src="@{images/setaVoltar.png}" /></button></a>
			<h1>Desalocar</h1>
			<div id="formulario">
			<form>
				<label for="desalCpfCliente">CPF do cliente: </label>
				<input type="number" id="alCpfCliente" name="alCpfCliente"><br><br>
				<div id="desalConsulVeiculo">
					<label for="txtDesalNomeVeiculo">Nome do veiculo: </label>
					<label for="saDesalNomeVeiculo" id="desalNomeVeiculo" name="desalNomeVeiculo">xxxxxxxxxxxx </label>
					<input type="image" id="desalImgVeiculo" name="desalImgVeiculo" value="Img"><br>
					<label for="txtDesalPlacaVeiculo">Placa do veiculo: </label>
					<label for="saDesalPlacaVeiculo" id="desalPlacaVeiculo" name="desalPlacaVeiculo">xxxxxxxxxxxx</label><br>
					<label for="txtDesalCodigoVeiculo">Codigo do veiculo: </label>
					<label for="saDesalCodigoVeiculo" id="desalCodigoVeiculo" name="desalCodigoVeiculo">xxxxxxxxxxxx</label>
				</div>
				<br>
				<label for="txtDesalDtDevolucao">Data de devolução: </label>
				<label for="saDesalDtDevolucao" id="desalDtDevolucao" name="desalDtDevolucao">xxxxxxxxxxxxxxxxx</label><br><br>
				<label for="txtDesalDtEntrega">Data de entrega: </label>
				<label for="saDesalDtEntrega" id="desalDtEntrega" name="desalDtEntrega">xxxxxxxxxxxxxxxxx</label><br><br>
				<label for="txtDesalKmAtual">Km atual do veiculo: </label>
				<input type="number" id="saDesalKmAtual" name="saDesalKmAtual"><br><br>
				<label for="txtDesalValorAdicional">Valor adicional: </label>
				<label for="saDesalValorAdicional" id="desalValorAdicional" name="desalValorAdicional">xxxxxxxxxxxx</label>
				<input type="checkbox" id="valorCalchao" name="valorCalchao">
				<label for="valorCalchao">Devolver calchão</label><br><br>
				<div id="botaoConfirma">
					<input type="button" onclick="alert('Veiculo desalocado com sucesso')" value="Desalocar/Gerar boleto" id="confirmarCadastro" name="confirmarCadastro">
				</div>
			</form>
		</div>
		</div>
	</body>
</html>