<!DOCTYPE html>
<html>
	<head>
		<link rel= "stylesheet" th:href="@{/css/desalocarStyle.css}" />
		<link rel= "stylesheet" th:href="@{/css/allStyle.css}" />
	</head>
	<head><strong> THE RANGES: Locadora de Carros </strong> </head>
<h1> <em> A MAIOR LOCADORA DE CARROS DO BRASIL 
</em> </h1>
	<body>
		<div class = "Menu">
			<a th:href="@{/}" id="botaoVoltar"><button><img th:src="@{images/setaVoltar.png}" /></button></a>
			<h1>Desalocar</h1>
			<form action="#" th:action="@{/sig/alocados/{id}(id=${alocar.id})}" th:object="${alocar}" method="post">
				<label for="desalCpfCliente">CPF do cliente: </label>
				<input type="number" th:field="*{clienteCpf}" id="alCpfCliente" name="alCpfCliente"><br><br>
				<div id="desalConsulVeiculo">
					<label for="txtDesalNomeVeiculo">Fabricante do veiculo: </label>
					<label for="saDesalNomeVeiculo" th:text="${alocar.veiculoNome}" id="desalNomeVeiculo" name="desalNomeVeiculo"></label><br>
					
					<label for="txtDesalPlacaVeiculo">Placa do veiculo: </label>
					<label for="saDesalPlacaVeiculo" th:text="${alocar.veiculoPlaca}" id="desalPlacaVeiculo" name="desalPlacaVeiculo"></label><br>
					
					
				</div>
				<br>
				
				
				
				<label for="txtDesalDtEntrega">Data de entrega: </label>
				<label for="saDesalDtEntrega" th:text="${alocar.dtEntregaFormat}" id="desalDtEntrega" name="desalDtEntrega"></label><br><br>
				
				
				
				<div id="botaoConfirma">
					<input type="submit" value="Desalocar" id="confirmarCadastro" name="confirmarCadastro" disabled>
					<a onclick="liberar(this)" th:href="@{/sig/boleto/{id}(id=${alocar.id})}" target="_blank">Boleto</a>
				</div>
			</form>
		</div>
		</div>
		<script>
		var botaoDesaloca = document.getElementById('confirmarCadastro')
		
		function liberar(obj) {
			botaoDesaloca.disabled = false;
		}
		</script>
	</body>
</html>