<!DOCTYPE html>
<html>
	<head>
	<head><strong> THE RANGES: Locadora de Carros </strong> </head>
<h1> <em> A MAIOR LOCADORA DE CARROS DO BRASIL 
</em> </h1>
		<link rel= "stylesheet" th:href="@{/css/clienteStyle.css}" />
		<link rel= "stylesheet" th:href="@{/css/allStyle.css}" />
	</head>
	<body>
		<div class = "Menu">
			<a th:href="@{/}" id="botaoVoltar"><button><img th:src="@{images/setaVoltar.png}" /></button></a>
			<h1>Menu veiculo</h1>
			<div class = "Opcoes">
				<ul id='submenu' >
					<li><a th:href="@{/sig/veiculo}"><button><div><img th:src="@{/images/iconeMais.png}" /></div>Incluir veiculo</button></a></li>
					<li><a th:href="@{/sig/veiculos}"><button><div><img th:src="@{/images/iconeConsulta.png}" /></div>Consultar veiculo</button></a></li>
				</ul>
			</div>
			 <ul>
              <li> email: rangesdoti@outlook.com </li>
              <li> Telefone Fixo : 4002-8922 </li>
              <li> WhatsApp : 11- 98887-8777 </li>
                <a href="http://rangersdoti.com/" > RangersDoT.I </a>

   
           </ul>
		</div>
	</body>
</html>